body{
    overflow-x: hidden !important;
  }
.forms{

    width:70%;
    margin-left:15%;
    margin-top: 90px;
}

label{
    font-weight: bold;
    color:rgb(76, 85, 149);
    margin-bottom: 10px;
}


.reg-btn{ width:100%;
    border: 2px #fa246a solid;
    color: #fff;
    background: #fa246a;
    font-weight: bold;
    font-size: larger;
    padding: 10px;
}
    
.reg-btn:hover{ 
    background: #fa246a;
}

a{text-decoration: none;}
input{
    margin-bottom: 20px;
}
.haveAccount{
    color: #fa246a;
    font-size: 17px;
}